@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Raleway:100,200,300,400,500,600,700');

/* --------------------------------------------------------- General, Colours, BG Colours and Fonts */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Quicksand', sans-serif;
}

.bg-lg {
    background-color: #757587;
}

.bg-dg {
    background-color: #454555;
}

.bg-bl {
    background-color: #4169E1;
}

.uppercase {
    text-transform: uppercase;
}

/* ---------------------------------------------------------Header */
#header-general {
    padding: 0px;
}

#header-image {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    width: 100%;
    text-align: center;
}

#title {
    color: #F8F9FA;
    margin-top: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#title-link:hover {
    text-decoration: none;
}

.navbar {
    border-bottom: 1px solid #AAAABC;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 19px;
}
/* ---------------------------------------------------------Index */

.general-description {
    padding: 0px;
    background-color: #F8F9FA;
}

.content-column {
    min-height: 200px;
    padding: 22px 20px !important;
    margin: 40px 32px;
    text-align: center;
    color: #F8F9FA;
    border-radius: 4%;
    font-family: 'Raleway', sans-serif;
}

.map-wrapper {
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.map {
    border-radius: 4px; 
    overflow: hidden;
    /* code from this post https://stackoverflow.com/questions/5738985/is-it-possible-to-have-css-rounded-corners-on-an-iframe#:~:text=5%20Answers&text=The%20div%20container%20method%20described,Radius%20CSS%20works%20for%20me.&text=The%20border%2Dradius%20should%20be,(if%20any)%20rounded%20corners. */
}


/* ---------------------------------------------------------Footer */

footer {
    text-align: center;
}

.contact-details {
    margin-bottom: 16px;
}

.contact-details p {
    margin-bottom: 8px;
}

.sp-links {
    margin-bottom: 8px;
}

.footer-general {
    padding: 25px 5px;
    color: #F8F9FA;
}

.sp-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    background-color: #AAAABC;
    color: #F8F9FA;
}

.sp-links li a i:hover {
    color: #4169E1;
}

/* ---------------------------------------------------------Media Queries */

@media(max-width:768px) {
    .content-column {
        margin: 20px 32px;
    }
    .content-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    } 
}